.midSec h1 {
  align-items: center;
}
footer {
  background-color: #141414;
  /* padding: 20px; */
}
.AboveFooter {
  /* width: 100%;
  overflow: hidden; */
  margin-top: 10%;
  /* background-color: rgba(0, 0, 0, 0.236); */
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.AboveFooterManu {
  max-width: 33%;
  padding: 40px;
}
.leftSec h1 {
  margin-top: -50px;
  font-size: 103px;
  color: #f4e7d4bd;
}
.leftSec {
  padding: 20px;
}
.midSec h1 {
  position: relative;
  top: 90%;
  color: #f4e7d4;
  font-weight: 500;
  padding: 20px;
}
.goToContact:hover {
  transform: scale(1.1); /* Enlarge the card on hover */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  z-index: 1; /* Bring the card to the top layer */
  /* font-weight: 400; */
}
.rightSec {
  padding: 20px;
  color: #f4e7d4;
}

.downArrow svg {
  position: relative;
  /* left: 30%; */
  font-size: 63px;
  top: 59%;
  right: 0px;
  position: relative;
  /* left: 30%; */
  font-size: 63px;
  top: 59%;
  right: 0px;
}
footer{
  padding: 20px;
}
.AboveFooterSec{
  
  /* padding: 20px; */
}
@media screen and (max-width: 1020px) {
  footer .AboveFooter {
    padding: 0;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  footer{
    padding: 0;
  }
  .leftSec h1 {
    font-size: 70px;
    padding: 0;
  }

  .AboveFooterManu {
    max-width: 100%;
    margin-top: 10%;
    padding: 28px;
  }
  .downArrow svg{
    top: 20%;
    /* display: none; */
  }
  .midSec h1 {
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
  }
  .rightSec h2{
    padding: 0;
    text-align: center;
  }
}
