@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Nunito&family=Nunito+Sans&family=Roboto:wght@300&display=swap");

.home {
  /* margin-top: 20px; */
  padding: 10px;
  /* text-align: center; */
  color: #f4e7d4;
}

.homeText {
  /* padding: 20px; */
  /* --animate-repeat: 2; */
}
.bigText {
  font-size: 54px;
  color: #f4e7d4;
  padding: 30px;
  /* margin-left: 10px; */
  margin: 0px 40px;
  align-items: center;
}
.imgText {
  color: #f4e7d4;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
.otherText-1 {
  max-width: 50%;
  font-size: 25px;
  font-weight: 400;
}
.homeImg {
  display: block;
  margin: auto;
  max-width: 50%;
}
.homeImg img {
  /* padding: 20px; */
  width: 100px;
  border-radius: 50%;
}

/* .scroll-container {

  position: relative;
}



.leftTorightText {
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
  overflow: hidden;
}
.leftTorightText h1 {
  align-items: center;
 padding: 12px;
}


.mainCont{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.scrollingText{
  position: relative;
}
.container{
  white-space: nowrap;
  overflow: hidden;
}

.container{
  display: grid;
  place-items: center;

}

.RightToLeft{
  position: relative;
  right: 355px;
  bottom: 220px;

}
.workSec {
  padding: 12px;
}

*/


/* Css for that srolling text */

.scrollingText{
 text-align: center;
 height: 100vh;
 display: grid;
 place-content: center;
 font-size: 50px;
 overflow-x: auto;
 white-space: nowrap;
}
.scrollingText::-webkit-scrollbar {
  height: 0;
}


.tital {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  white-space: nowrap;
}





/* Card Styling */

.cardSec {
  height: 90vh;
  display: grid;
  place-items: center;
  width: 100%;
  overflow: auto;
  flex-wrap: wrap;
  /* padding: 22px; */
}
.list {
  display: flex;
  justify-content: center;
  gap: 1.55rem;
  transform-style: preserve-3d;
  list-style-type: none;
  &:hover :not(:hover) {
    margin: 0 -20px;
    transform: perspective(500px) rotateY(45deg) scale(0.95);
  }

  &:hover :not(:hover)::after {
    opacity: 0.4;
  }
}

.item {
  position: relative;
  /* padding: 12px; */
  width: 250px;
  aspect-ratio: 3/4;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  transition: margin 0.5s, transform 0.5s;
  &:nth-of-type(1) {
    background-image: url(../Img/project1.webp);
  }
  &:nth-of-type(2) {
    background-image: url(../Img/project2.webp);
  }
  &:nth-of-type(3) {
    background-image: url(../Img/project3.webp);
  }
  &:nth-of-type(4) {
    background-image: url(../Img/project4.webp);
  }
  &:nth-of-type(5) {
    background-image: url(../Img/project5.jpg);
  }
  &:nth-of-type(6) {
    background-image: url(../Img/project5.jpg);
  }
  &:nth-of-type(7) {
    background-image: url(../Img/project5.jpg);
  }
  &:nth-of-type(8) {
    background-image: url(../Img/project5.jpg);
  }

  &:hover ~ .item {
    transform: perspective(500px) rotateY(-45deg) scale(0.95);
  }

  &:hover {
    transform: perspective(500px) rotateY(0) scale(1.2);
  }

  &::after {
    content: "";
    position: absolute;
    width: inherit;
    aspect-ratio: inherit;
    border-radius: inherit;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s;
  }
}
@media screen and (max-width: 1025px) {
  .bigText {
    font-size: 25px;
    padding: 20px;
    margin-left: 10px;
    align-items: center;
  }
  .homeImg img {
    padding: 20px;
    align-items: end;
    margin-right: 0;
    position: relative;
    top: 10px;
    left: 80%;
    margin: 0;
  }
  .otherText-1 {
    max-width: 100%;
  }
/* Card Styling */

.cardSec {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  display: grid;
  place-items: center;
  width: 100%;
  /* overflow: hidden; */
  flex-wrap: wrap;
  /* padding: 22px; */
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5.55rem;
  transform-style: preserve-3d;
  list-style-type: none;

  &:hover :not(:hover) {
    margin: 0 -20px;
    transform: perspective(500px) rotateY(0deg) scale(0.95);
  }

  &:hover :not(:hover)::after {
    opacity: 0.4;
  }
}

.item {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 250px;
  aspect-ratio: 3/4;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  transition: margin 0.5s, transform 0.5s;


  &:hover ~ .item {
    transform: perspective(500px) rotateY(0deg) scale(0.95);
  }

  &:hover {
    transform: perspective(500px) rotateY(0) scale(1.2);
  }

  &::after {
    content: "";
    position: absolute;
    width: inherit;
    aspect-ratio: inherit;
    border-radius: inherit;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s;
  }
}
}

.popup-card-container {
  text-align: center;
  margin: 20px;
  z-index: 3;
}

.toggle-button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.popup {
  color: white;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 55;
  border-radius: 32px;
}

.popup-content {
  background-color: black;
  padding: 60px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 50px;
  right: 30px;
  font-size: 24px;
  cursor: pointer;
  z-index: 550000;
}

.close-button:hover {
  color: #ff6b6b;
}
.video {
  /* padding: 20px; */
}

.hidden{
  /* opacity: 0 ;
  transition: all 1s; */
}
/* .show{
  opacity: 1;
} */
@media screen and (max-width: 1020px) {
  .close-button {
    cursor: pointer;
    font-size: 57px;
    position: absolute;
    right: 23px;
    top: 5px;
  }
  iframe{
    width: 100%;
    height: 100%;
  }
}


@media screen and (max-width: 650px) {
  .flotingText {
    font-size: 40px;
  }
  .scrollingText {
    height: 50vh;
  }
  .RightToLeft {
    /* bottom: 130px; */
      position: relative;
      right: 414px;
  }
  .list {
    gap: 1.55rem;
  }
  .scrollingText{
    min-height: 50vh;

  }
  .container{
    margin-top: -100px;
  }
}
